@import "/src/scss/mixins";

.gameContent {
  position: relative;
  min-width: 540px;
  padding: 24px;
  border-radius: 32px;
  background: rgba(179, 191, 221, 0.6);

  @include width-852-P {
    grid-column: 1 / span 2;
    max-width: 558px;
  }

  @include width-1000-L {
    grid-column: 1 / span 2;
  }

  @include width-732-L {
    padding: 16px;
    border-radius: 16px;
  }
  @include width-412-P {
    padding: 16px;
    border-radius: 16px;
  }

  @include width-360-P {
    width: 100%;
  }
}