@import 'src/scss/_mixins.scss';

@keyframes effect_dylan {
  70% {
    box-shadow: 0 0 10px 15px rgb(10, 241, 33);
    opacity: 0;
  }
  99% {
    box-shadow: 0 0 5px 5px rgba(10, 241, 33, 0.56);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes snake {
  0%, to {transform: translate(0)}
  10%, 40% {transform: translateX(-4px)}
  25%, 55% {transform: translateX(4px)}
}

.answerVariantBlock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  width: 100%;
  min-width: 200px;
  height: 100px;
  padding-left: 24px;
  padding-right: 23px;
  border-radius: 32px;

  position: relative;

  z-index: 1;

  background-color: rgba(255, 255, 255, 0.8);

  @include width-1340-L {
    height: 88px;
    min-width: auto;

    border-radius: 24px;
  }

  @include width-854-L {
    height: 64px;
    width: auto;
    padding-left: 16px;
    padding-right: 15px;

    border-radius: 16px;
  }

  @include width-768-P {
    height: 88px;
    border-radius: 24px;
    width: auto;
    max-width: none;
    min-width: 50%;
  }

  @include width-534-P {
    height: 64px;
    padding-left: 16px;
    padding-right: 15px;

    border-radius: 16px;
  }
}

.btnSelectAnswer {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;

  @include width-1340-L {
    margin-right: 0;
  }

  @include width-854-L {
    width: 24px;
    height: 24px;
    margin-right: 0;
  }

  @include width-768-P {
    margin-right: 0;
  }

  @include width-534-P {
    width: 24px;
    height: 24px;
    margin-right: 0;
  }
}

.success {
  border: 1px solid #0AF121;
  box-shadow: inset 0 0 24px rgba(10, 241, 33, 0.56);
  pointer-events: none;
}

.success:before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 32px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(1.0001, 1.0001);
  animation: effect_dylan .9s ease-out;
  animation-delay: 100ms;
}

.mistake {
  border: 1px solid #F13C3C;
  box-shadow: inset 0 0 24px rgba(241, 9, 9, 0.56);
  animation: snake 1s infinite;
  pointer-events: none;
}

.disabled {
  pointer-events: none;
}

.btnPlay {
  width: 64px;
  height: 64px;
  margin-left: auto;

  @include width-1340-L {
    width: 48px;
    height: 48px;
  }

  @include width-768-P {
    width: 48px;
    height: 48px;
  }

  @include width-732-L {
    width: 40px;
    height: 40px;
  }

  @include width-412-P {
    width: 40px;
    height: 40px;
  }
}

.btnOff {
  pointer-events: none;
}

.ordinalNames {
  color: #9066C6;

  margin-left: 8px;
  margin-right: 25px;
  @include titleS;

  @include width-1340-L {
    font-size: 24px;
    margin-right: 5px;
  }

  @include width-854-L {
    font-size: 20px;
    margin-right: 5px;
  }

  @include width-768-P {
    font-size: 24px;
    margin-right: 0;
  }

  @include width-534-P {
    font-size: 20px;
    margin-right: 0;
  }
}