@import 'src/scss/_mixins.scss';

.wrapper {
  position: relative;

  width: 100%;
  height: 168px;

  border-radius: 32px;
  box-shadow: 2px 4px 8px rgba(56, 22, 109, 0.12);
  overflow: hidden;

  @include width-1280-L {
    height: 100%;
    border-radius: 24px;
  }
  @include width-1280-P {
    height: 100%;
    border-radius: 24px;
  }
  @include width-852-P {
    grid-row: 3 / span 1;
    height: 255px;
  }

  @include width-534-P {
    height: 200px;
  }

  @include width-732-L {
    border-radius: 8px;
    box-shadow: none;
  }
  @include width-412-P {
    border-radius: 8px;
    box-shadow: none;
  }
}

.lines {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 40px 0;

  background-color: #FFFFFF;
  overflow: hidden;

  @include width-1280-L {
    padding: 36px 0;
  }
  @include width-1280-P {
    padding: 36px 0;
  }

  @include width-732-L {
    padding: 24px 0;
    background-color: transparent;
  }
  @include width-412-P {
    background-color: transparent;
  }
}

.line {
  @include width-732-L {
    border-color: rgba(255, 255, 255, 0.4);
  }
  @include width-412-P {
    border-color: rgba(255, 255, 255, 0.4);
  }
}

.inputField {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  border: 1px solid transparent;
  border-radius: inherit;

  transition: border .3s, box-shadow .3s;

  &__success {
    box-shadow: 0 0 16px rgba(114, 255, 128, 0.88), 0 0 80px #72FF80;
  }
}

.inputSentence {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;

  white-space: wrap;
  text-align: center;
}

.inputCell {
  margin-left: .6rem;

  @include titleS;

  &:first-child {
    margin-left: 0;
  }
}

.type {
  position: absolute;
  bottom: 8px;
  left: 24px;

  @include width-1280-L {
    font-size: 16px;
  }
  @include width-1280-P {
    font-size: 16px;
  }

  @include width-732-L {
    bottom: 4px;
    left: 4px;
    font-size: 14px;
    line-height: 1;
  }
  @include width-412-P {
    bottom: 4px;
    left: 4px;
    font-size: 14px;
    line-height: 1;
  }

  & > :first-child, & > :nth-child(2) {
    font-weight: 700;
  }

  & > :last-child {
    margin-left: 8px;
  }
}