@import '../../../../../../../scss/mixins';

.content{
  position: relative;
  padding: 24px 28px 24px 32px;
  max-width: 384px;
  width: 384px;
  filter: drop-shadow(4px 4px 24px rgba(138, 69, 169, 0.4));

  @include xs-block() {
    width: 300px;
  }
}

.close{
  position: absolute;
  right: 0;
  top: -6px;
}

.contentWrap{
  box-shadow: 4px 4px 24px rgba(28, 6, 64, 0.4), inset -3px -3px 10px #BBD6FF;
  background: #fff;
  border-radius: 40px;
  margin-top: 16px;
}

.title{
  position: relative;

  @include subtitleS();
}