@import 'src/scss/_mixins.scss';

.word {
  @include titleM;
  color: #FFFFFF;
}

@keyframes showing {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes hiding {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.showing {
  animation: showing .9s forwards;
}

.hiding {
  pointer-events: none;
  animation: hiding .9s forwards;
}