@import 'src/scss/_mixins.scss';

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 479px;
    height: 94px;
    border-radius: 32px;
    padding: 16px;
    color: #fff;
    cursor: pointer;
    transition: background 0.1s ease-in, box-shadow 0.1s ease-in, border 0.1s ease-in;

    @include subtitleS();

    @include width-1280-L() {
        width: 280px;
        height: 96px;
    }

    @include width-732-L() {
        width: 238px;
        height: 80px;
        border-radius: 16px;
    }

    @include width-640-L() {
        width: 216px;
        height: 67px;
    }

    @include width-852-P() {
        width: 280px;
        height: 96px
    }

    @include width-412-P() {
        width: 238px;
        height: 80px;
        border-radius: 16px;
    }

    @include width-360-P() {
        width: 216px;
        height: 67px;
    }
}

.dragItemContainer {
    animation: tilt .1s ease-in forwards;
    box-shadow: none;

    @keyframes tilt {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(2deg);
        }
    }
}
