@import 'src/scss/_mixins.scss';

.contentContainer {
  width: 100%;
}

.contentMain {
  margin: 24px auto 0;
  max-width: 630px;
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 16px;

  @include width-1280-L() {
    display: grid;
    grid-template-columns: 482px 382px;
    grid-template-rows: 139px 136px;
    justify-content: center;
    margin-top: 64px;
  }

  @include width-1280-P() {
    justify-content: center;
    margin-top: 64px;
  }

  @include width-1000-L() {
    margin-top: 24px;
  }

  @include width-854-L() {
    grid-template-columns: 440px 349px;
    grid-template-rows: 161px 136px;
    margin-top: 32px;
  }

  @include width-732-L() {
    grid-template-columns: 405px 287px;
    grid-template-rows: 119px 112px;
    gap: 8px;
  }

  @include width-640-L() {
    grid-template-columns: 364px 236px;
    grid-template-rows: 119px 116px;
    margin-top: 8px;
  }

  @include width-768-P() {
    max-width: 482px;
    margin-top: 16px;
  }

  @include width-534-P() {
    margin-top: 80px;
  }

  @include width-412-P() {
    margin-top: 56px;
  }

  @include width-360-P() {
    gap: 8px;
    margin-top: 24px;
  }
}

.checkBtnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 25px;
  width: 100%;

  @include width-1280-L() {
    margin-top: 62px;
  }

  @include width-1000-L() {
    margin-top: 52px;
  }
  
  @include width-854-L() {
    margin-top: 49px;
  }

  @include width-732-L() {
    margin-top: 41px;
  }

  @include width-640-L() {
    margin-top: 9px;
  }

  @include width-1280-P() {
    margin-top: 62px;
  }

  @include width-768-P() {
    margin-top: 28px;
  }

  @include width-534-P() {
    margin-top: 108px;
  }

  @include width-412-P() {
    margin-top: 94px;
  }

  @include width-360-P() {
    margin-top: 34px;
  }
}

.checkBtn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  
  &:disabled {
    background: linear-gradient(180deg, #BAE3C6 0%, #DFF5E6 100%) !important;
    box-shadow: 0px 4px 0px #95CB95, 0px 6px 16px rgba(149, 203, 149, 0.72) !important;
    opacity: 0.4 !important;
  }

  @include width-1280-L() {
    width: 260px;
    height: 48px;
  }

  @include width-732-L() {
    height: 40px;
  }

  @include width-768-P() {
    width: 260px;
    height: 48px;
  }
  
  @include width-412-P() {
    height: 40px;
  }
}
