@import 'src/scss/_mixins.scss';

.btn {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 32px;

  color: #fff;

  will-change: transform;

  @include normalButtonTransition();
}