@import "/src/scss/mixins";

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.players {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 48px 1fr;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 732px;
  max-width: 100%;
  margin: 0 auto 16px;

  @include width-1000-L {
    grid-template-columns: 1fr 42px 1fr;
    width: 510px;
  }
  @include width-768-P {
    grid-template-columns: 1fr 42px 1fr;
    width: 510px;
  }

  @include width-732-L {
    grid-template-columns: 1fr 30px 1fr;
    top: -24px;
    width: 360px;
    margin: 0 auto;
  }
  @include width-412-P {
    grid-template-columns: 1fr 30px 1fr;
    top: -24px;
    width: 360px;
    margin: 0 auto;
  }

  .player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 100%;
    padding: 16px;
    border-radius: 32px;

    @include width-1000-L {
      gap: 4px;
      padding: 12px 18px;
      border-radius: 24px;
    }
    @include width-768-P {
      gap: 4px;
      padding: 12px 18px;
      border-radius: 24px;
    }

    @include width-732-L {
      padding: 8px 12px;
      border-radius: 16px;
    }
    @include width-412-P {
      padding: 8px 12px;
      border-radius: 16px;
    }

    & > img {
      width: 56px;
      height: 56px;

      @include width-1000-L {
        width: 48px;
        height: 48px;
      }
      @include width-768-P {
        width: 48px;
        height: 48px;
      }

      @include width-732-L {
        width: 24px;
        height: 24px;
      }
      @include width-412-P {
        width: 24px;
        height: 24px;
      }
    }

    & > h4 {
      color: #fff;
      font-weight: 600;
      font-size: 28px;
      line-height: 130%;
      letter-spacing: 0.03em;
      text-align: center;

      @include width-1000-L {
        font-size: 20px;
      }
      @include width-768-P {
        font-size: 20px;
      }

      @include width-732-L {
        font-size: 12px;
      }
      @include width-412-P {
        font-size: 12px;
      }
    }

    &One {
      background: #4EBFFF;
    }

    &Two {
      background: #D55EFF;
    }
  }
}

.rulesInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 732px;
  margin: 0 auto;
  padding: 48px;
  border: 2px solid #FF6FCE;
  border-radius: 48px;
  background: #fff;
  box-shadow: 4px 4px 24px rgba(28, 6, 64, 0.4), inset -3px -3px 10px #BBD6FF;

  @include width-1000-L {
    gap: 8px;
    max-width: 510px;
    padding: 16px 32px;
    border-radius: 24px;
  }
  @include width-768-P {
    gap: 8px;
    max-width: 510px;
    padding: 16px 32px;
    border-radius: 24px;
  }

  @include width-732-L {
    top: -8px;
    max-width: 360px;
    border-width: 1px;
    border-radius: 18px;
  }
  @include width-412-P {
    top: -8px;
    max-width: 360px;
    border-width: 1px;
    border-radius: 18px;
  }

  .rulesTitle {
    color: #101127;
    font-weight: 800;
    font-size: 24px;
    line-height: 130%;

    @include width-1000-L {
      font-size: 20px;
    }
    @include width-768-P {
      font-size: 20px;
    }

    @include width-732-L {
      font-size: 12px;
    }
    @include width-412-P {
      font-size: 12px;
    }
  }

  .rulesDescription {
    color: #101127;
    font-size: 16px;
    line-height: 140%;

    @include width-1000-L {
      font-size: 12px;
    }
    @include width-768-P {
      font-size: 12px;
    }

    @include width-732-L {
      font-size: 8px;
    }
    @include width-412-P {
      font-size: 8px;
    }
  }

  .rulesTime {
    color: #101127;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;

    @include width-1000-L {
      font-size: 14px;
    }
    @include width-768-P {
      font-size: 14px;
    }

    @include width-732-L {
      font-size: 10px;
    }
    @include width-412-P {
      font-size: 10px;
    }
  }
}

.nextBtn {
  width: 100%;
  max-width: 543px;
  height: 56px;
  margin: 48px auto 0;
  padding: 0;

  @include width-1000-L {
    max-width: 468px;
  }
  @include width-768-P {
    max-width: 468px;
  }

  @include width-732-L {
    height: 40px;
    max-width: 328px;
    margin: 24px auto 0;
  }
  @include width-412-P {
    height: 40px;
    max-width: 328px;
    margin: 24px auto 0;
  }
}

.loader {
  width: 56px;
  height: 56px;
  border: 4px solid #fff;
  border-top-color: #D55EFF;
  border-radius: 100%;
  animation: spin .5s ease-in-out infinite;

  @include width-854-L {
    width: 40px;
    height: 40px;
    border-width: 3px;
  }
  @include width-534-P {
    width: 40px;
    height: 40px;
    border-width: 3px;
  }

  @include width-732-L {
    width: 32px;
    height: 32px;
  }
  @include width-412-P {
    width: 32px;
    height: 32px;
  }
}