@import 'src/scss/_mixins.scss';

@import 'src/scss/_mixins.scss';

.contentContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: 80px auto;
  gap: 32px;
  margin: 40px 0 31px;
  height: 544px;

  @include width-1280-L() {
    grid-template-columns: 56px auto;
    gap: 16px;
    margin: 16px 0 17px;
    height: 384px;
  }
  @include width-1280-P() {
    grid-template-columns: 56px auto;
    gap: 16px;
    margin: 16px 0 17px;
    height: 384px;
  }

  @include width-1000-L() {
    margin: 8px 0 7px;
    gap: 8px;
    height: 352px;
  }

  @include width-854-L() {
    margin: 16px 0 26px;
  }

  @include width-732-L() {
    margin: 8px 0 6px;
    height: 302px;
  }

  @include width-640-L() {
    margin: 4px 0;
    height: 256px;
  }

  @include width-852-P() {
    grid-template-columns: 56px auto;
    gap: 16px;
    margin: 32px 0 44px;
    height: 494px;
  }

  @include width-534-P() {
    margin: 48px 0 62px;
    height: 604px;
  }

  @include width-412-P() {
    margin: 16px 0 27px;
    gap: 8px;
    height: 589px;
  }

  @include width-360-P() {
    margin: 8px 0 15px;
    grid-template-columns: 40px auto;
    height: 521px;
  }
}

.numbers, .textPartsContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.numbers {
  gap: 16px;

  @include width-1000-L() {
    gap: 8px;
  }

  @include width-640-L() {
    gap: 4px;
  }

  @include width-360-P() {
    gap: 4px;
  }
}

.textPartsContainer {
  gap: 24px;
  padding-bottom: 8px;

  @include width-1280-L() {
    gap: 20px;
    padding-bottom: 4px;
  }
  @include width-1280-P() {
    gap: 20px;
    padding-bottom: 4px;
  }

  @include width-1000-L() {
    gap: 12px;
  }
  
  @include width-640-L() {
    gap: 8px;
  }

  @include width-852-P() {
    gap: 20px;
    padding-bottom: 4px;
  }

  @include width-360-P() {
    gap: 8px;
  }
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
