@import 'src/scss/_mixins.scss';

.dropArea {
    border-width: 2px;
    border-style: dashed;
    box-shadow: 2px 8px 24px rgba(56, 22, 109, 0.32);
    border-radius: 32px;
    height: 94px;

    @include width-1280-L() {
        height: 96px;
    }

    @include width-732-L() {
        height: 80px;
        border-radius: 16px;
    }

    @include width-640-L() {
        height: 67px;
    }

    @include width-852-P() {
        height: 96px
    }

    @include width-412-P() {
        height: 80px;
        border-radius: 16px;
    }

    @include width-360-P() {
        height: 67px;
    }
}

.disabled {
    box-shadow: none;
}

.correct {
    border: 1px solid rgba(0, 255, 25, 0.64) !important;
    box-shadow: 0px 0px 3px #00FF15, 0px 0px 32px #00FF19 !important;
}

.wrong {
    border: 1px solid rgba(254, 58, 58, 0.64) !important;
    box-shadow: 0px 0px 4px #FE3A3A, 0px 0px 32px #FE3A3A !important;
}
