@import 'src/scss/_mixins.scss';

.variantElementsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.48);
    border-radius: 40px;
    padding: 16px 32px;
    gap: 16px;
    flex-wrap: wrap;
    height: 228px;

    @include width-1280-L() {
        padding: 16px;
        flex-flow: column;
        flex-wrap: nowrap;
        height: auto;
    }

    @include width-732-L() {
        padding: 8px;
        border-radius: 16px;
    }

    @include width-640-L() {
        gap: 8px;
    }

    @include width-852-P() {
        padding: 16px;
        height: auto;
    }

    @include width-412-P() {
        border-radius: 16px;
    }
}
