@import 'src/scss/_mixins.scss';

.gameWrap {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 670px;

  @include width-1280-L {
    height: 475px;
  }
  @include width-1280-P {
    height: 475px;
  }

  @include width-1000-L {
    height: 415px;
  }
  @include width-768-P {
    height: 620px;
  }

  @include width-854-L {
    align-items: flex-start;
    height: 100%;
    max-height: 90vh;
  }
  @include width-534-P {
    height: 100%;
  }
}

.checkBtn {
  position: absolute;
  right: 0;
  bottom: 0;

  @include width-854-L {
    padding: 8px 12px;
  }
  @include width-534-P {
    min-width: 260px;
    padding: 8px 12px;
  }

  z-index: 9;
  &[disabled] {
    background: linear-gradient(180deg, #BAE3C6 0%, #DFF5E6 100%);
    box-shadow: 0 4px 0 #95CB95, 0 6px 16px rgba(149, 203, 149, 0.72);
    opacity: 0.4;
  }
}