@import "src/scss/mixins";

.mainWrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  padding: 24px 0;
  border-radius: 0;

  justify-content: center;
  align-items: center;
}

.content{
  max-width: 916px;
  box-shadow: 4px 4px 24px rgba(28, 6, 64, 0.4), inset -3px -3px 10px #BBD6FF;
  border-radius: 48px;
  background: #fff;
  padding: 72px;
}

.textWrap{

  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textInner{
  background: #fff;
  padding: 64px 100px;
  font-size: 28px;
  line-height: 140%;
  text-align: center;
  border-radius: 10px;
}

.buttons{
  display: flex;
  justify-content: space-between;
  margin: 0 -12px;

  &>*{
    margin: 0 12px;
  }
}

.btn{
  min-width: 360px;
}

.title{
  @include titleXL();
  text-align: center;
  margin-bottom: var(--main-base-grid-gap);
}

.text{
  @include subtitleM();
  text-align: center;
  color: var(--static-main-color2);
}

.img{
  max-width: 280px;
}