@import 'src/scss/_mixins.scss';

.input {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  width: 100%;
  height: 112px;
  display: flex;

  @include width-1280-L {
    height: 72px;
  }
  @include width-1280-P {
    height: 72px;
  }

  @include width-534-P {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }

  @include width-732-L {
    grid-column: 1 / span 1;
    height: 44px;
  }
  @include width-412-P {
    height: 44px;
  }
}

.inputValue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 226px);
  margin: 0 20px;
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 4px 8px 24px rgba(48, 42, 54, 0.16);
  border-radius: 32px;
  font-weight: bold;
  font-size: 64px;
  color: #f4aa61;
  text-shadow: 2px 2px 0 #8D1707;
  letter-spacing: 0.1em;

  @include width-1280-L {
    width: calc(100% - 176px);
    margin: 0 16px;
    border-radius: 24px;
    font-size: 48px;
  }
  @include width-1280-P {
    width: calc(100% - 176px);
    margin: 0 16px;
    border-radius: 24px;
    font-size: 48px;
  }

  @include width-534-P {
    width: calc(100% - 136px);
    font-size: 28px;
  }

  @include width-732-L {
    width: calc(100% - 96px);
    margin: 0 8px;
    border-radius: 8px;
    font-size: 28px;
  }
  @include width-412-P {
    width: calc(100% - 96px);
    margin: 0 8px;
    border-radius: 8px;
  }

  @include width-640-L {
    width: calc(100% - 92px);
    margin: 0 6px;
  }
  @include width-360-P {
    width: calc(100% - 88px);
    margin: 0 4px;
  }
}

.correctInputValue {
  box-shadow: inset 0 0 40px rgba(25, 251, 21, 0.8);
}

.wrongInputValue {
  box-shadow: inset 0 0 40px #FF9999;
}

.button {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 112px;
  background: #FFFFFF;
  box-shadow: 0 4px 0 #4AB2DF, inset 0 0 8px rgba(248, 97, 13, 0.6);
  border: 1px solid #82D9FF;
  border-radius: 32px;
  transition: 0.2s;

  @include width-1280-L {
    width: 72px;
  }
  @include width-1280-P {
    width: 72px;
  }

  @include width-534-P {
    width: 64px;
  }

  @include width-732-L {
    width: 40px;
    border-radius: 8px;
  }
  @include width-412-P {
    width: 40px;
    border-radius: 8px;
  }
}

.button:hover {
  box-shadow: 0 4px 0 #4AB2DF, inset 0 0 16px rgba(248, 97, 13, 0.64);
}

.button:active {
  background: #FFFFFF;
  top: 4px;
  box-shadow: 0 0 0 #4AB2DF, inset 0 0 10px rgba(248, 97, 13, 0.6);
}

.cancelImg {
  width: 43px;
  height: auto;
  margin-right: 4px;

  @include width-732-L {
    width: 32px;
    margin-right: 0;
  }
  @include width-412-P {
    width: 32px;
    margin-right: 0;
  }
}

.renewImg {
  width: 41px;
  height: auto;

  @include width-732-L {
    width: 32px;
  }
  @include width-412-P {
    width: 32px;
  }
}
