//якщо тут щось міняється обов"язково міняти і тут src/config/themes.ts


$gs-bgColor: #E4FAF5;

$gs-normal-border-color: #69A5FF;
$gs-box-shadow: #0D5CD6;
$gs-box-active: #0D5CD6;


$gs-bgColor-active: #69A5FF;
$gs-normal-border-color-active: #69A5FF;

$gs-bgColor-disabled: #E8F1FF;
$gs-normal-border-color-disabled: #BBD6FF;
$gs-box-shadow-disabled: #6EA8FF;


$gs-active-color: #ca549f;
