@import "../../../../../../../../../scss/mixins";

.burger{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  margin: 26px 15px;

  span{
    //display: block;
    width: 30px;
    height: 2px;
    //margin-bottom: 5px;
    position: relative;

    background: #fff;
    border-radius: 3px;

    z-index: 1;
  }
}

@mixin fixedBtn(){
  position: fixed;

  width: 161px;
  height: 161px;
  left: -97px;
  bottom: -90px;
  border-radius: 50%;
  justify-content: flex-end;
  align-items: flex-start;

  overflow: hidden;
}

.btn{
  position: relative;
  z-index: 2;

  @include smWH-block() {
    @include fixedBtn();
  }
  //@include width-534-P {
  //  @include fixedBtn();
  //}
  //@include width-854-L {
  //  @include fixedBtn();
  //}
  //@include media(854) {
  //  @include fixedBtn();
  //}
  //@include mediaH(854) {
  //  @include fixedBtn();
  //}
}